html, body {
    margin: 0;
    padding: 0;
    height:100%;
    overflow: hidden;
}

#numbers-game {
    display:none;
}

#flex-body {
    background-color: #548ed4;
    display: flex;
    flex-direction: column;
    height:100%;
}
.timer {
    flex-grow: 1;
}

#clock {
    flex-grow: 1;
    margin:auto;
}
#clock-hand {
    position:absolute;
    top:0px;
    display: none;
}
.letter-board-outer {
    /*position: absolute;
    bottom: 0;
    width: 100%;*/
    border-top: 8px solid #00163C;
    text-align: center;
    background-image: -webkit-linear-gradient(left, #4675C3 0%, #0044B3 50%, #407AE1 100%);
    background-image: -o-linear-gradient(left, #4675C3 0%, #0044B3 50%, #407AE1 100%);
    background-image: linear-gradient(to right, #4675C3 0%, #0044B3 50%, #407AE1 100%);; 
}

.letter-board {
    margin: 12px;
    position: relative;
    height: auto;
    background: #588FBC;
    vertical-align: top;
    border: 6px solid #00163C;
}

.letter-box {
    font-weight: 700;
    text-transform: uppercase;
    font-family: sans-serif;
    vertical-align: top;
    background: #034595;
    text-align: center;
    margin: 5px;
    clear: both;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    color: white;
}

.option-box {
    font-weight: 700;
    text-transform: uppercase;
    font-family: sans-serif;
    vertical-align: top;
    background: #034595;
    text-align: center;
    margin: 5px;
    clear: both;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    cursor:pointer;
}

.letter {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    width:30px;
}

.number {
    padding: 5px;
    width:40px;
}